# NPM/Node
/node_modules/
.ntvs_analysis.dat*
npm-debug*
package-lock.json

# Istanbul
**/coverage/
coverage
.nyc_output
# IDE - Note that VS Code content [.vscode/**] is intentionally left out
/.idea/
/.settings

# Typescript
tsd-debug.log

# Generated Javascript
/lib/**/*.js*
/src/**/*.js*
/test/**/*.js*
/bin/**/*.js*
/out/
/dist/

**/testresults/
/**/*.css
.DS_Store