ngb-modal-window {
    top: 15%;
    left: 30%;
    position: absolute;
    z-index: 1041;
    width: 500px;
}

input, select, textarea {
    background-color: #606060;
    color: #c5c8c6;
}

.modal-header, .modal-body, .modal-footer {
    background: #282828;
    color: #c5c8c6;    
}